
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(270deg, orange, lightblue);
    background-size: 400% 400%;
    animation: gradientBG 8s ease infinite;
}


footer {
    position: absolute;
    bottom: 15px;
    width: 100%;
    text-align: center;
    font-size: 0.85rem;
    color: rgba(255, 255, 255, 0.5);
    letter-spacing: 1px;
}

.container {
    width: 400px;
}

.login-form {
    background: rgba(0, 14, 18, 0.858);
    padding: 40px;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    text-align: center;
    color: white;
    animation: fadeIn 1s ease;
}


.login-form h2 {
    margin-bottom: 20px;
}

.input-box {
    position: relative;
    margin: 20px 0;
}

.input-box input {
    width: 100%;
    padding: 10px;
    border: none;
    border-bottom: 2px solid white;
    background: transparent;
    outline: none;
    color: white;
    font-size: 16px;
}

.input-box label {
    position: absolute;
    left: 0;
    top: 10px;
    color: white;
    transition: 0.3s;
}



button {
    width: 100%;
    padding: 10px;
    border: none;
    background: #00f2fe;
    color: black;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #4facfe;
    transform: scale(1.05);
}

.register {
    margin-top: 15px;
    font-size: 14px;
}

.register a {
    color: #00f2fe;
    text-decoration: none;
}
